In [1]:
import pandas as pd
LoanTrainData=pd.read_csv('train_ctrUa4K.csv')

In [2]:
LoanTrainData.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
#handling Categorical Data
LoanTrainData['Gender']= LoanTrainData['Gender'].map({'Male':0, 'Female':1})
LoanTrainData['Married']= LoanTrainData['Married'].map({'No':0, 'Yes':1})
LoanTrainData['Loan_Status']=LoanTrainData['Loan_Status'].map({'N':0, 'Y':1})

In [4]:
LoanTrainData['Education']=LoanTrainData['Education'].map({'Not Graduate':0,'Graduate':1})

In [5]:
#checking how many null values are present in the dataset
LoanTrainData.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
#dropping the rows with null values
LoanTrainData=LoanTrainData.dropna()
LoanTrainData.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [7]:
#noe sepearting the dependent and independent variables
X =LoanTrainData[['Gender', 'Married', 'ApplicantIncome', 'LoanAmount', 'Credit_History']]
Y=LoanTrainData.Loan_Status

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(X,Y, test_size = 0.2, random_state = 10)

In [9]:

from sklearn.ensemble import RandomForestClassifier 
model = RandomForestClassifier(max_depth=15, random_state = 10) 
model.fit(x_train, y_train)

RandomForestClassifier(max_depth=15, random_state=10)

In [10]:
from sklearn.metrics import accuracy_score
pred_val = model.predict(x_val)
accuracy_score(y_val,pred_val)

0.8020833333333334

In [11]:
#saving the trained model
import pickle 
pickle_out = open("classifier.pkl", mode = "wb") 
pickle.dump(model, pickle_out) 
pickle_out.close()

In [12]:
x_train.head()

     Gender  Married  ApplicantIncome  LoanAmount  Credit_History
409     0.0      1.0            81000       360.0             0.0
272     0.0      0.0             2833       126.0             1.0
555     0.0      1.0             5468        26.0             1.0
602     0.0      1.0             5703       128.0             1.0
386     0.0      0.0             2346       132.0             1.0

In [47]:
model.predict([[0,1, 3000, 66, 1]])

array([1])